@page "/admin/role"
@model WebTN.Admin.Role.IndexModel
@{
    ViewData["Title"] = "Danh Sách Các Role";
}

<H1>@ViewData["Title"]</H1>

<div>
    <partial name="_StatusMessage.cshtml" model="@Model.StatusMessage"></partial>
</div>

<div>
    <a class="btn btn-primary" asp-page="./Create">Tạo role mới</a>
    <a class="btn btn-primary" asp-page="../User/Index">Quản lý thành viên</a>
</div>


<table class="table">
    <tr>
        <th>Tên role</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var role in Model.IdentityRoles)
    {
        <tr>
            <td>
                <p>@role.Name</p>
                @foreach (var clain in role.Claims)
                {
                    <small>@clain</small>
                    <br>
                }
            </td>
            <td>
                <a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-roleid="@role.Id">Cập nhật</a>
                <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-roleid="@role.Id">Xoá</a>
            </td>
        </tr>
    }
</table>